<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/styles/login/login.css">
    <title>Login</title>
</head>

<body>
    <h1>Account Login</h1>
    <form action="/login" method="POST">
        <div class="input-group col-md-4 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="text" name="email" class="form-control" placeholder="Email">
        </div>
        <div class="input-group col-md-4 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit">Login</button>
    </form>

    <nav class="navbar navbar-expand-lg fixed-bottom">
        <a class="navbar-brand" href="/"> Back</a>

    </nav>
</body>

</html>