<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/styles/register/register.css">
    <title>Register</title>
</head>

<body>
    <h1>Register</h1>
    <hr>
    <form action="/register" method="POST">
        <div class="form-group col-md-4">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter username">
            <small id="emailHelp" class="form-text text-muted">Ex: pinavibes, pinavibes123</small>

        </div>
        <div class="form-group col-md-4">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit">Submit</button>
    </form>

    <nav class="navbar navbar-expand-lg fixed-bottom">
        <a class="navbar-brand" href="/"> Back</a>

    </nav>
</body>

</html>