<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>

<body>
    <h1>Welcome to Account Page</h1>
    <h3>Account List</h3>
    <ul>
        <% account.forEach(accounts=>{%>

        <li>
            <a href="/accounts/<%= accounts._id %> ">

                <%=accounts.accountNumber %>
            </a>
            <p><%= accounts.institution %></p>
        </li>
        <%}) %>
    </ul>
    <a href="/accounts/new">New Account</a>
    <a href="/transactions/new">Add New transactions</a>
    <a href="/">Back to home</a>
</body>

</html>