<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/account/new.css">
    <title>New Account</title>
</head>

<body>
    <h1>Add New Account</h1>
    <br>
    <div class="wrapper">
    <form action="/accounts" method="POST">
        <!-- Account Number section -->
        <div class="form-group col-md-2">
            <label for="accountNumber">Account Number</label>
            <input type="text" name="accountNumber" class="form-control" placeholder="Ex: 479966389" required>
        </div>
        <!-- Bank name section -->
        <div class="form-group col-md-2">
            <label for="institution">Bank Name:</label>
            <input type="text" name="institution" class="form-control" placeholder="Ex: Chase Bank.."
                required>
        </div>
        <!-- Account Type section -->
        <div class="form-group col-md-2">
            <label for="accountType">Account Type</label>
            <select name="accountType" class="form-control" required>
                <option selected>Choose...</option>
                <option>Checking</option>
                <option>Saving</option>
            </select> <br>
        </div>
        <!-- Account Sstarting Balance section -->
        <div class="form-group col-md-2">

            <label for="balance">Balance:</label>
            <input type="text" name="balance" class="form-control" placeholder="EX:100,550..." required>
        </div>
        <div class="form-group col-md-2">
            <label for="description">Account Purpose:</label>
            <textarea name="description" class="form-control" cols="30" rows="1"
                placeholder="for expense, for saving"> </textarea>
        </div> </br>
        <!-- The create button section -->
        <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>

</body>

</html>