<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>

<body>
    <h1>Welcome to Transactions</h1>
    <ul>
        <% transactions.forEach(trans=>{ %>

        <li>
            <a href=""> <%=trans.transactionType %> </a>
        </li>


        <%}) %>
    </ul>
    <p>helo</p>

    <a href="/transactions/new">new</a>
</body>

</html>