<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Input</title>
</head>

<body>
    <h1>Log New Transactions</h1>
    <form action="" method=" POST">

        <div>
            <label for="transactionType"> Transaction Type: </label>

            <input type="text" name="transactionType" required>

        </div>


    </form>




</body>

</html>