body{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3em;
    height: 100vh;
}

div{
    text-align:center;
}


.form-group{
    color:#30324A;
    width: auto;
    margin: auto;
}

label{
    font-size: 30px;
}

h1{
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 2.5em;
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgb(23,215,223);
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
     ;
    color: cornsilk;
    letter-spacing: 0.3em;
}

input{
    text-align:center;
}

nav{
    background-color: rgb(23,215,223);
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%); ;
}

a{
    color:cornsilk;
}

a:hover{
    color: darkgray;
}

button{
    box-shadow: 0px 10px 14px -7px #332773;
    background:linear-gradient(to bottom, #d43fd4 5%, #2517e8 100%);
    background-color:#d43fd4;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color: cornsilk;
    font-family: 'Quicksand', sans-serif;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3e488a;
}
.button:hover {
    background:linear-gradient(to bottom, #2517e8 5%, #d43fd4 100%);
    background-color:#2517e8;
}
.button:active {
    position:relative;
    top:1px;
}

        
