body{
    text-align: center;
    font-family: 'Lora', serif;
    letter-spacing: 0.3em;
    height: 100vh;
}

div{
    text-align:center;
}


.form-group{
    color:#30324A;
    width: auto;
    margin: auto;
}

label{
    font-size: 30px;
}

h1{
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 2.5em;
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    background-color: rgb(23,215,223);
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
     ;
    color: cornsilk;
    letter-spacing: 0.3em;
}

input{
    text-align:center;
}

nav{
    background-color: rgb(23,215,223);
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%); ;
}

a{
    color:cornsilk;
}

a:hover{
    color: darkgray;
}

button{
    margin-top: 30px;
    color:cornsilk;
    background-color:blue;
    border-radius: 25px;
    height:50px;
    width: 120px;
    font-size: 23px;
    letter-spacing: 0.1em;

}

button:hover{
    color: darkgray;
}

