h1{
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
    color: cornsilk;
    text-align: center;
}