body{
    font-family: 'Quicksand', sans-serif;
}

h1{
    text-align: center;
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
    color: cornsilk;
}

h3{
    text-align: center;
    background: linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
    color: cornsilk;
    }

span{
color: blue;
text-align: center;
}


/* Css for the table scrolling */
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}

.wrapper{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

a{
    font-family: 'Quicksand', sans-serif;
    color:cornsilk;
    background-color:linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);
    margin-bottom: -38px;
    }

a:hover{
    color: darkgray;
   
}


        