body{
    
span{
font-weight: bolder;
}
/* Css for the table scrolling */
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
    }

/* Nav */
nav{
    background-color:linear-gradient(106deg, rgba(23,215,223,1) 0%, rgba(216,139,246,1) 28%, rgba(0,53,255,1) 100%);;
    ;
    
}

a{
    color:cornsilk;
}


nav{
    background-color:#30324A ;
}

a{
    color:cornsilk;
}

a:hover{
    color: darkgray;
}
button{
    box-shadow: 0px 10px 14px -7px #332773;
    background:linear-gradient(to bottom, #d43fd4 5%, #2517e8 100%);
    background-color:#d43fd4;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color: cornsilk;
    font-family:Times New Roman;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3e488a;
}
.button:hover {
    background:linear-gradient(to bottom, #2517e8 5%, #d43fd4 100%);
    background-color:#2517e8;
}
.button:active {
    position:relative;
    top:1px;
}
