<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>About The Mainichi Team</h1>
       <div class="Jacky">
           <p>"Im from dominican republic & speak 4 languages. I started in the bank industry but due to the society changing fast, I decided to learn programming. We decided to do this project because in my past few year working in the banking industry, alot of customers do not really trust their banking statement. So I think having an account register can help clients easily compare their transactions with the banking statements to be sure everything is correct."-Jacky</p>
       </div>
        
       <div class="Xenia">
           <p>"I also have experience working in the banking industry and one of the top concerns with customers were their statements. It is hard to explain to someone that the balance being reflected is subject to change due to pending transactions because they feel like the bank is stealing money. So if they had a convient way to add all transaction history and compare it with their current statement, I do believe it would put them at ease to know their money is safe."-Xenia</p>
       </div>

       <h2>Add Other Contributors</h2>
       
       <form action="/contributors" method="POST">
        <!-- Account Number section -->
        <div class="form-group col-md-2">
            <label for="team member">Team Member</label>
            <input type="text" name="firstName" class="form-control" placeholder="Ex:Jane" required>
        </div>
        <div class="form-group col-md-2">
            <button type="submit">Add</button>


        <script src="" async defer></script>
    </body>
</html>